%html{html_attrs('en-AU')}
  %head
    %title whoisjohnbarton?
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => '/styles.css' }
  %body
    .content
      %ul
        %li 
          %a{ :href => '/posts', :title => 'Blog' }
            [BLOG]
        %li 
          %a{ :href => 'http://flickr.com/photos/johotravels', :title => 'My Flickr' }
            [FLICKR]
        %li 
          %a{ :href => 'http://twitter.com/johnbarton', :title => 'My Twitter' }
            [TWITTER]
        %li
          %a{ :href => 'http://github.com/joho', :title => 'My GitHub' }
            [GITHUB]

      %p
        I'm a <s>web developer</s> development manager currently based in <span class="green">Melbourne, Australia</span>
        who specialises in Ruby on Rails and(formerly) ASP.NET development. 
        I work full time taking care of a pretty awesome dev team at
        <span class="green"><a href="http://envato.com/">Envato</a></span>.
        
      %p
        I used to have a tidy little spiel about how I develop software 
        just here. I'm too new at management to really know what I'm doing, 
        let alone express it succinctly. Watch this space.

      %h1 www.whois<span class="green">johnbarton</span>.com

      %p
        If you're interested in a chat email me at 
        <span class="green">jrbarton@gmail.com</span> and I'll try and get back to you quickly.
    
  %script{ :src => 'http://www.google-analytics.com/urchin.js', :type => 'text/javascript' }
  :javascript
    _uacct = "UA-708262-2";
    urchinTracker();