%html{html_attrs('en-AU')}
  %head
    %title whoisjohnbarton?
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => '/styles.css' }
  %body
    .header
      %h1
        %a{ :href => '/'}
          whoisjohnbarton.com
      %ul
        %li
          %a{ :href => '/posts' }
            [BLOG]
        %li
          %a{ :href => 'http://flickr.com/photos/johotravels' }
            [FLICKR]
        %li
          %a{ :href => 'http://twitter.com/johnbarton' }
            [TWITTER]
        %li
          %a{ :href => 'http://jrb.tumblr.com' }
            [TUMBLR]
        %li
          %a{ :href => 'http://github.com/joho' }
            [GITHUB]
        %li
          %a{ :href => 'http://tumble.whoisjohnbarton.com', :title => 'My Tumblelog' }
            [TUMBLR]
    .blog_content_wrap
      .blog_content
        =yield
    .footer
      %a{ :rel => 'license', :href => 'http://creativecommons.org/licenses/by-nc-sa/2.5/au/'}
        %img{ :alt => 'Creative Commons License', :style => 'border-width:0', :src => 'http://i.creativecommons.org/l/by-nc-sa/2.5/au/88x31.png' }
  
  %script{ :src => 'http://www.google-analytics.com/urchin.js', :type => 'text/javascript' }
  :javascript
    _uacct = "UA-708262-2";
    urchinTracker();
