body
  :font-family Helvetica, Trebuchet MS, Arial, San Serif
  :color #999
  :text-align center
.content
  :text-align center
  :width 700px
  :margin 60px, auto
.green
  :color green
  a
    :color green
    :text-decoration none
  a:hover
    :text-decoration underline
h1
  :font-size 3.4em
ul
  :float right
  :list-style-type none
li
  :float left
  :list-style-tipe none
p
  
  :text-align right
  :color #444
  :width 500px
  :float right
  :margin-top 20px
  :text-align justify
  .green
    :font-weight bold